.banner{
    height: 95vh;
    background: url(`../../../../public/assets/banner.jpg);
    background-repeat: no-repeat;
}
.banner>div{
    height: 100%;
}
.banner__container{
    height: 100%;
} 
.banner__contentBlock{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner__contentBlock h2{
    text-shadow: 3px 4px 6px rgba(45, 45, 45, 0.15);
    font-size: 5rem;
    font-weight:900;
    color: #fff;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.banner__contentBlock h3{
    color: #eee;
    letter-spacing: 5px;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.banner__contentBlock p{
    max-width: 650px;
    color: #fff;
    margin: auto;
    margin-bottom: 40px;
}
.banner__contentBlock a{
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    border: 2px solid #fff;
    font-weight: 900;
}
@media(max-width:600px){
    .banner__contentBlock{
        display: none;
    }
}